html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    top: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    background-color: #006400;
    z-index: 99;
}

.header span {
    margin: auto;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.container {
    padding-top: 6vh;
}

.shelves {
    text-emphasis: none;
}

.shelf {
    margin-top: 2rem;
}

.shelf h3 {
    padding-left: 1rem;
    font-size: 17px;
    font-weight: 500;
}

.shelf hr {
    /* border-top: 0px solid red; */
    width: 97%;
    opacity: 0.1;
}

.shelf ul {
    display: flex;
    flex-wrap: wrap;
}

.shelf ul li {
    position: relative;
    margin: 10px;
    padding: 2px;
    width: 11%;
    border-radius: 3px;
    transition: 0.3s;
}

.shelf img {
    display: block;
    height: calc(100% - 4rem);
    width: 100%;
    object-fit: fill;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shelf img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.shelf ul li h4 {
    margin: 3px 0;
}

.shelf ul li em {
    color: #4d5156;
}

.hide {
    color: #696969;
}

.shelf .drop-btn {
    position: absolute;
    bottom: 4rem;
    right: 0;
    background-color: #006400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.dropdown-spans {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: dimgrey;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    flex-direction: column;
    border-radius: 2px;
    padding: 4px 6px;
    /* margin: -40px 59px; */
}

.show {
    display: flex;
}

.dropdown-spans>span {
    padding: 0 2px;
}

.dropdown-spans>span:hover {
    border-radius: 2px;
    background-color: dodgerblue;
}

.add {
    margin: 1rem;
    background-color: #006400;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
}

.search-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search-header:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-header>button {
    flex: 0;
    display: flex;
    border: none;
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    padding: 10px;
}

.search-header button:hover {
    background-color: antiquewhite;
}

.search-header form {
    flex: 1;
}

.search-header input {
    margin-left: 2rem;
    font-size: 18px;
    border: none;
    height: 3rem;
    width: 100%;
}

.hide-header {
    display: none;
}